<h1>
    Courses
</h1>

<table>
    <tr>
        <th>Username</th>
        <th>Email</th>
        <th>Password</th>
    </tr>
    {{#each data}}
        <tr>
            <th>{{this.username}}</th>
            <th>{{this.password}}</th>
            <th>{{this.email}}</th>
        </tr>
    {{/each}}
</table>